In [1]:

# ! pip install nltk


# # for data manupulation, cleansing and plotting
# ! pip install pandas
# ! pip install matplotlib
# ! pip install numpy

In [2]:
import re

import pandas as pd
import numpy as np

import nltk #natural language toolkit


import matplotlib.pyplot as plt


# !python -m spacy download en


import spacy
from nltk.stem import PorterStemmer

# nlp = spacy.load('en_core_web_sm')

In [3]:
# Reading the training  dataset
df_data = pd.read_csv('./data/train.csv')

df_data.head()

,id,abstract,category,category_num
0,271675,Bacteria are often exposed to multiple stimu...,q-bio-QM,138
1,412276,Accurate knowledge of the thermodynamic prop...,hep-ph-,68
2,256956,The largest X9.3 solar flare in solar cycle ...,astro-ph-SR,7
3,427612,We say that a random integer variable $X$ is...,math-PR,93
4,113852,We derive a formula expressing the joint dis...,math-CO,76

In [5]:
# convert "category " column to Categorial data to save memory space as they are repeated and in fixed no.


df_data['category'] = df_data['category'].astype('category')

# convert "id " and "category_num" column to int32 to save memory space as they are repeaded and in fixed no.
df_data[['id','category_num']] = df_data[['id','category_num']].astype('int32')

df_data.memory_usage(deep=True)

# hence sucessfully reduced memory size of "category" column from 25487734 bytes to  795575 bytes and id and category_num column from 3.4 mb to 1.5 mb

Index                 128
id                1562412
abstract        429522799
category           795575
category_num      1562412
dtype: int64

In [9]:
# #subset data from category_num 0-5 only ,from train  for  training and testing

# df_data_subset5_dirty = df_data[df_data['category_num']<=5]


# #save to csv
# df_data_subset5_dirty.to_csv('./test/dirty5.csv',index=False)

# df_data_subset5_dirty.head()

# len(df_data_subset5_dirty)

23027

In [7]:
#Convert to lower case, remove punctuation and special characters, newline, and numbers, digits, and stopwords
#Apply stemmer to text

import nltk

# nltk.download('stopwords')  # uncomment if stopwords is not found
from nltk.corpus import stopwords

from nltk.stem.porter import PorterStemmer
#defining the object for stemming
porter_stemmer = PorterStemmer()

df_data = df_data.reset_index(drop=True)
REPLACE_BY_SPACE_RE = re.compile('[/(){}\[\]\|@,;]')
BAD_SYMBOLS_RE = re.compile('[^0-9a-z #+_]')
STOPWORDS = set(stopwords.words('english'))

def clean_text(text):
    
    text = re.sub('[^a-z\s]', ' ', text.lower())
    text = [i.lower() for i in text.split() if i not in STOPWORDS]
    text = [porter_stemmer.stem(i) for i in text]
    text = ' '.join(text)
    text.replace('\n',' ')

    return text

In [10]:
#import dirty train data to pd
df_data_subset5_dirty = pd.read_csv('./test/dirty5.csv')

#apply cleaning function to each row of data
df_data_subset5_dirty['abstract'] = df_data_subset5_dirty['abstract'].apply(clean_text)
df_data_subset5_dirty.head()

# #save to csv
# df_data_subset5_dirty.to_csv('./test/clean5.csv',index=False)
# df_data_subset5_dirty.head()

,id,abstract,category,category_num
0,274789,main purpos paper obtain analyt solut radi tra...,astro-ph-HE,5
1,379433,search astrophys point like neutrino sourc use...,astro-ph-HE,5
2,253348,studi vertic distribut earliest stage star for...,astro-ph-GA,4
3,486373,binari evolv due dynam scatter star dens envir...,astro-ph-GA,4
4,280592,propos sever anomali observ larg angular scale...,astro-ph-CO,2

In [11]:
#clean Train data

df_data['abstract'] = df_data['abstract'].apply(clean_text)

#copy dataframe to another dataframe
df_data_clean = df_data.copy()

#save to csv
df_data_clean.to_csv('./data/train_clean.csv', index=False)

df_data_clean.head()

In [ ]:
# clean test data
df_test = pd.read_csv('./data/test.csv')
df_test['abstract'] = df_test['abstract'].apply(clean_text)

#save to csv
df_test.to_csv('./data/test_clean.csv', index=False)
df_test.head()

       id                                           abstract
0  430065  depth maps obtained commercial depth sensors a...
1   75226  lambda expressions introduced java programming...
2  301990  propose demonstrate gammagamma collider w_gg g...
3  301001  physics labs students experience wide range eq...
4  280179  existence local minima onehiddenlayer relu net...

In [ ]:
#clean validation data
df_validation = pd.read_csv('./data/validation.csv')
df_validation['abstract'] = df_validation['abstract'].apply(clean_text)
df_validation['abstract'] = df_validation['abstract'].str.replace('\d+', '')

#save to csv
df_validation.to_csv('./data/validation_clean.csv', index=False)
df_validation.head()

,id,abstract,category,category_num
0,27,semiclassical methods explain many mesoscopic ...,cond-mat-mes-hall,9
1,36,let tmotive introduce notion duality mainresul...,math-NT,90
2,71,construct states invariant action thegeneraliz...,quant-ph-,150
3,82,say alie super algebra symmetric every root wi...,math-RT,96
4,84,paper define lagrangian scalar gauge fields on...,physics-gen-ph,120